body {
    font-family: Arial, sans-serif;
    margin: 40px;
    color: #333;
    background-color: rgb(102, 155, 188);
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 8px;
}
h1, h2 {
    color: rgb(0, 48, 73);
    margin-bottom: 5px;
}
hr {
    border: 0;
    border-top: 2px solid rgb(253, 240, 213);
    margin: 10px 0 20px 0;
}