body {
    background: rgb(102, 155, 188);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 48, 73);
    text-align: center;
}

h2 {
    color: rgb(0, 48, 73);
}

p {
    color: rgb(253, 240, 213);
}
